<!-- Modal for showing errors -->
<div id = "showErrorModal" class = "modal">
   <div class = "modal-content" style = "padding: 30px 10px">
         <center>
            <i class = "cryface fa fa-frown-o" style = "font-size: 100px;"></i>
         </center>
         <h3 class = "center" id = "errorTitle"></h3>
         <p class = "center" id = "errorDescription"></p>
      </div>
   </div>
</div>