<div class = "container">
   <br>
   <img src = "feature_img.png" class = "responsive-img">

   <div class = "row">
      <div class = "col s12 m4 l4 hide-on-small-only">
         <p style = "font-size: 70px; line-height: 10px;" class = "center "><b>Q.1</b></p>
      </div>
      <div class = "col s12 m8 l8">
         <h4>What is GithubFind</h4>
         <p>GithubFind is an application that fetches your github id. GithubFind takes your github login name and finds that user in github server and if it finds it, then it lists your data.</p>

         <p>GithubFind is designed and developed by <a href = "https://github.com/Suyash-Purwar">Suyash Purwar</a>. Give it a star on github and share with your folks if you really like it.</p>
      </div>

   </div>

   <div class = "row">
      <div class = "col m8 l8">
         <h4>How to use it?</h4>
         <p>It's very very easy. Just click on the search icon on top right corner and type your github name and click on Find Me button. Voila!! Your github profile is fetched.</p>

         <p><b>Cheers!!</b></p>
      </div>

      <div class = "col s12 m4 hide-on-small-only l4">
         <p style = "font-size: 70px; line-height: 10px;" class = "center"><b>Q.2</b></p>
      </div>
   </div>
</div>