<!-- Modal for showing sucess messages -->
<div id = "successModal" class = "modal">
   <div class = "modal-content" style = "padding: 30px 10px">
      <center>
         <i class = "smiley fa fa-smile-o" style = "font-size: 100px;"></i>
      </center>
      <h3 class = "center">Found you!</h3>
      <p class = "center">We found you! Here's your good profile</p>
   </div>
</div>