<!-- Modal for showing sucess messages -->
<div id = "showSuccessModal" class = "modal">
   <div class = "modal-content" style = "padding: 30px 10px">
      <center>
         <i class = "smiley fa fa-smile-o" style = "font-size: 100px;"></i>
      </center>
      <h3 class = "center" id = "successTitle"></h3>
      <p class = "center" id = "successDescription"></p>
   </div>
</div>